
             
    <div class="row">
        <div class="regist_and_login_bar text_right"><a href="client/#/login"><span class="glyphicon glyphicon-log-in" style="padding-right:5px;"></span>註冊成為會員/登入</a></div>
    </div>
    
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" ng-non-bindable>
   
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="../../assets/images/Carousel_bg_1.jpg" alt="物流，匯款及網上充值">
            <div class="carousel-caption" style="top: 1%;">
              <h3 class="font-bold text-black animated fadeInDown header text-left">物流，匯款及網上充值 <br><span class="b-black b-3x">一站式服務</span></h3>
              
              <p class="text-muted carousel-text-content animated fadeInUpBig text-left hide-sm">淘轉是全港提供全面的網絡平台服務公司之一，致力發展物流，匯款及網上充值業務。我們會為各會員提供一系列服務，包括國內網購合併集運到香港，支付寶充值，香港至國內快遞，及香港至國內匯款，務求令各會員可體驗一個合理價格，快捷可靠的服務平台。</p>
            </div>
          </div>

          <div class="item">
            <img src="../../assets/images/carousel-1.jpg" alt="90days free stock">
            <div class="carousel-caption">
              <h3 class="font-bold text-black animated fadeInDown header text-left">60天免存倉費</h3>
              <p class="text-muted carousel-text-content animated fadeInUpBig text-left">立即申請，即可享有60天免費存倉服務。</p>
            </div>
          </div>

          <div class="item">
            <img src="../../assets/images/carousel-2.jpg" alt="auto record stock">
            <div class="carousel-caption">
              <h3 class="font-bold text-black animated fadeInDown header text-left">自動錄入貨物</h3>
              <p class="text-muted carousel-text-content animated fadeInUpBig text-left">立即申請，即可享有自動錄入貨物服務。</p>
            </div>
          </div>

          <div class="item">
            <img src="../../assets/images/carousel-3.jpg" alt="pickup location payment">
            <div class="carousel-caption">
              <h3 class="font-bold text-black animated fadeInDown header text-left">自取點貨到付款</h3>
              <p class="text-muted carousel-text-content animated fadeInUpBig text-left">自取點貨到付款，省卻網上付款的服務費。</p>
            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
        
    </div>


    <div class="row padder-v bg-white-only">
      <div class="col-md-3 col-sm-6" style="padding-left:0; padding-right:0;">
        <div class="bg-light m-r-n-md no-m-xs no-m-sm" style="margin-right:0;">
          <div class="wrapper-xl block">
            <span class="h3 m-t-sm text-black"><strong>合併集運</strong></span>
            <div class="block m-b-md m-t">於淘寶等國內網購平台購物後，先將貨物寄到 To Change 國內物流中轉站。下午六點<img src="assets/images/boxes_pic.png" alt="合併集運" style="float:right; margin: 5px; display:block;">截單前付款，貨件便可即日寄出！</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-left:0; padding-right:0;">
        <div class="m-t-xl m-l-n-md m-r-n-md text-white no-m-xs no-m-sm" style="background-color: #737d86; margin-right:0;">
          <div class="wrapper-xl block">
            <span class="h3 m-t-sm text-white"><strong>香港至國內快遞</strong></span>
            <div class="block m-b-md m-t">專營中港快遞服務及一般貿易報關，提出專業一站式戶對戶收派貨件。<br>每天由香港經廣東省不同口岸清關，所有貨品<img src="assets/images/boxes_pic_2.png" alt="香港至國內快遞" style="float:right; margin: 5px;">之申報均合中國海關標準,保證絕對可靠！</div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-left:0; padding-right:0;">
        <div class="m-t-n m-l-n-md m-r-n-md no-m-xs no-m-sm" style="background-color: #dde7e9; margin-right:0;">
          <div class="wrapper-xl block">
            <span class="h3 m-t-sm text-black"><strong>香港至國內匯款</strong></span>
            <div class="block m-b-md m-t">如經常需要匯款到國內銀行的會員，現在可透過To Change全新推出香港至國內匯款服務。銀行一般手續費為HKD220，需時一至三個工作天，而選用To Change匯款<img src="assets/images/boxes_pic_3.png" alt="香港至國內匯款" style="float:right; margin: 5px;">服務，手續費只是 HKD50，一小時到帳。</div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="padding-left:0; padding-right:0;">
        <div class="m-t m-l-n-md m-r-n-md no-m-xs no-m-sm" style="background-color: #f4f4f4; margin-right:0;">
          <div class="wrapper-xl block">
            <span class="h3 m-t-sm text-black"><strong>支付寶充值</strong></span>
            <span class="block m-b-md m-t"></span>
            <div class="block m-b-md m-t">轉帳到我們提供的香港銀行帳號，只需兩個動作就能輕鬆充值到各會員的支付寶餘額中，免手續費，過程簡單，實鋪地址，安全可靠。詳請請瀏覽我們Facebook專頁。<img src="assets/images/boxes_pic_4.png" alt="支付寶提現/充值" style="float:right; margin: 5px;"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="position:relative;">
        <img src="assets/images/step_truck_1.png" class="truck1">

        <section class="se-container">
            <div class="se-slope-left">
                <article class="se-content-left">
                    <div class="text-center" style="margin-bottom: 40px;">
                      <h2 class="font-bold">To Change 集運流程</h2>
                    </div>


                    <div class="row m-t-xl m-b-xl text-center">

                      <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
                        <div style="height: 160px; margin-bottom:20px;">
                            <img src="assets/images/step1_warehouse.png" class="img-responsive center-block" alt="先將貨物寄到 To Change 物流中轉站">
                        </div>

                        <div>
                            <div style="height:50px;">
                                <h4>先將貨物寄到<br> To Change 物流中轉站</h4>
                            </div>
                            <div style="height:80px;">
                                <p>於淘寶等國內網購平台購物後, 先將貨物寄到 To Change 國內物流中轉站</p>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
                        <div style="height: 160px; margin-bottom:20px; padding-top: 35px;">
                            <img src="assets/images/step2_products.png" class="img-responsive center-block" stylealt="合併及選擇送貨方式">
                        </div>

                        <div>
                            <div style="height:50px; padding-top: 5px;">
                                <h4>合併及選擇送貨方式</h4>
                            </div>
                            <div style="height:80px;">
                                <p>貨物會自動新增到閣下的系統內，於網站內進行合併及選擇送貨方式。系統會自動計算運費及到淘寶店拍下。</p>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
                        <div style="height: 160px; margin-bottom:20px; padding-top: 56px;">
                            <img src="assets/images/step3_truck.png" class="img-responsive center-block" alt="截單前付款，貨件即日寄出">
                        </div>

                        <div>
                            <div style="height:50px; padding-top: 5px;">
                                <h4>截單前付款，貨件即日寄出</h4>
                            </div>
                            <div style="height:80px;">
                                <p>付款成功後，提供拍下運費後的訂單號碼。完成後，同事會盡快確認及發貨。只要在當天下午六點截單前付款，貨件便可即日寄出！</p>
                            </div>
                        </div>
                      </div>

                      <div>
                          <h4>你知道嗎？除淘寶之外， 
                            <span style="color: #fbe439;">京東、天貓、蘇寧、國美、當當、拍拍、亞馬遜</span>也可使用我們的服務
                          </h4>

                          <p style="margin-top: 30px;">
                            <a href="#/tutorial" class="btn btn-lg btn-default btn-rounded">集運教學</a>
                          </p>
                      </div>
                    </div>
                </article>
            </div>
            <div class="se-slope-left">
                <article class="se-content-left">

                    <div class="row m-t-xl m-b-xl">
                        <div class="col-sm-6">
                            <h3>如何計算體積收費？</h3>
                            <p>
                                計自公式：<br>
                                長(cm) x 闊(cm) x 高(cm) / 6000 = 體積重量
                            </p>
                            <p>
                                建議：<br>
                                先向賣家查詢貨品包裝後尺寸，因為包裝後尺寸會跟貨品實際尺寸有出入。<br>
                                可要求賣家在可保護貨品情況下，盡量包細一點，有助降低運費。
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>當體積重量大過實際重量時，會以體積重量計算</h4>
                            <p>
                                重量計算方式會以國際快遞的標準執行
                            </p>

                            <img src="assets/images/box.png" class="img-responsive" alt="Responsive image">
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>


    <div class="row" style="background-color: #eeeeee; padding: 20px 10px 20px 10px;">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">運費計算器</h4>
                </div>
                <div class="panel-body">
                    <p>請輸入貨品重量及集運方式，即可計算出集運收費。</p>
                    <p><small>*以下報價以最平方式計價，價錢僅做為參考</small></p>

                    <form class="form-horizontal">
                      <div class="form-group col-sm-12">
                        <div class="input-group">
                          <div class="input-group-addon">貨品重量</div>
                          <input type="number" class="form-control text-right" ng-model="vm.dimension.weight">
                          <div class="input-group-addon">kg</div>
                        </div>
                      </div>

                      <div class="form-group col-sm-12">
                        <div class="input-group">
                          <div class="input-group-addon">集運方式</div>
                            <select class="form-control" ng-model="vm.priceList">
                              <option value="1">淘轉特價專線</option>
                              <option value="2">大貨專線</option>
                              <option value="3">自取點</option>
                            </select>
                        </div>
                      </div>


                    </form>
                </div>
                <div class="panel-footer">
                    <p>運費: {{ vm.getFreight() }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">體積收費計算器</h4>
                </div>
                <div class="panel-body">
                    <p>請輸入貨品包裝後尺寸</p>

                    <form class="form-horizontal">
                      <div class="form-group col-sm-12">
                        <div class="input-group">
                          <div class="input-group-addon">長</div>
                          <input type="number" class="form-control text-right" ng-model="vm.dimension.length">
                          <div class="input-group-addon">cm</div>
                        </div>
                      </div>

                      <div class="form-group col-sm-12">
                        <div class="input-group">
                          <div class="input-group-addon">闊</div>
                          <input type="number" class="form-control text-right" ng-model="vm.dimension.width">
                          <div class="input-group-addon">cm</div>
                        </div>
                      </div>

                      <div class="form-group col-sm-12">
                        <div class="input-group">
                          <div class="input-group-addon">高</div>
                          <input type="number" class="form-control text-right" ng-model="vm.dimension.height">
                          <div class="input-group-addon">cm</div>
                        </div>
                      </div>

                    </form>

                </div>

                <div class="panel-footer">
                    <p>體積重量: {{ vm.dimension.length * vm.dimension.width * vm.dimension.height / 6000 | number}} kg</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">客戶服務部</h4>
                </div>
                <div class="panel-body">
                
                    <form class="form-horizontal">
                      <div class="form-group col-sm-12">
                        <label class="sr-only" for="name">姓名</label>
                        <input type="text" class="form-control" id="name" placeholder="姓名" ng-model="vm.mail.name">
                      </div>
                      
                      <div class="form-group col-sm-12">
                        <label class="sr-only" for="email">電郵地址</label>
                        <input type="email" class="form-control" id="email" placeholder="電郵地址" ng-model="vm.mail.email">
                      </div>
                      
                      <div class="form-group col-sm-12">
                        <label class="sr-only" for="phone">聯絡電話</label>
                        <input type="text" class="form-control" id="phone" placeholder="聯絡電話" ng-model="vm.mail.phone">
                      </div>
                      
                      <div class="form-group col-sm-12">
                        <label class="sr-only" for="memberId"></label>
                        <input type="text" class="form-control" id="memberId" placeholder="會員號碼" ng-model="vm.mail.member_id">
                      </div>

                      <div class="form-group col-sm-12">
                        <textarea class="form-control" rows="3" placeholder="留言" ng-model="vm.mail.content"></textarea>
                      </div>
                      
                      <button type="submit" class="btn btn-primary" ng-click="vm.sendMail()">提交</button>

                    </form>

                </div>
            </div>
        </div>
    </div>



    <div class="row" style="padding: 20px 10px 20px 10px;">
          <div class="col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
              <div class="m-t-xxl">
                <div class="m-b">
                  <a href class="pull-left thumb-sm avatar"><img src="assets/images/a2.jpg" alt="..."></a>
                  <div class="m-l-sm inline">
                    <div class="pos-rlt wrapper b b-light r r-2x">
                      <span class="arrow left pull-up"></span>
                      <p class="m-b-none">我們搬家啦!</p>
                    </div>
                    <small class="text-muted"><span class="glyphicon glyphicon-ok text-success"></span>1 hour ago</small>
                  </div>
                </div>

                <div class="m-b text-right">
                  <a href class="pull-right thumb-sm avatar"><img src="assets/images/a3.jpg" class="img-circle" alt="..."></a>
                  <div class="m-r-sm inline text-left">
                    <div class="pos-rlt wrapper bg-primary r r-2x">
                      <span class="arrow right pull-up arrow-primary"></span>
                      <p class="m-b-none">搬去邊到呀?</p>
                    </div>
                    <small class="text-muted">31 minutes ago</small>
                  </div>
                </div>

                <div class="m-b">
                  <a href class="pull-left thumb-sm avatar"><img src="assets/images/a1.jpg" alt="..."></a>
                  <div class="m-l-sm inline">
                    <div class="pos-rlt wrapper b b-light r r-2x">
                      <span class="arrow left pull-up"></span>
                      <p class="m-b-none">長安鎮北源街60號霄邊第二工業園淘轉物流倉庫部</p>
                    </div>
                    <small class="text-muted"><span class="glyphicon glyphicon-ok text-success"></span>2 minutes ago</small>
                  </div>
                </div>

                <div class="m-b text-right">
                  <a href class="pull-right thumb-sm avatar"><img src="assets/images/a3.jpg" class="img-circle" alt="..."></a>

                  <div class="m-r-sm inline text-left">
                    <div class="pos-rlt wrapper bg-info r r-2x">
                      <span class="arrow right pull-up arrow-info"></span>
                      <p class="m-b-none">oic:)</p>
                    </div>
                    <small class="text-muted">1 minutes ago</small>
                  </div>
                </div>                          
              </div>
          </div>
          <div class="col-sm-6 wrapper-xl">
            <h3 class="text-dark font-bold m-b-lg">最新消息</h3>
            <ul class="list-unstyled  m-t-xl">
              <li ng-repeat="article in vm.articles">
                <span class="glyphicon glyphicon-ok pull-left"></span>
                <p class="clear m-b-lg"><strong>{{article.publish_datetime | amDateFormat:'YYYY-MM-DD'}} - {{article.title}}</strong><span class="clear m-b-lg" ng-bind-html="article.content"></span></p>
              </li>
            </ul>
            
            <a href="#/news" class="btn btn-lg btn-default btn-rounded">更多消息</a>
              
          </div>
    </div> 


    <div class="row" style="position:relative;">
        <img src="assets/images/platform_truck.png" class="truck2">

        <section class="se-container">
            <div class="se-slope-right">
                <article class="se-content-right">
                    <div class="text-center">
                      <h2 class="font-bold">隨時在任何裝置上使用</h2>
                      <p style="margin-bottom: 30px;">
                        可在您喜愛的所有裝置 (包括 PC、Mac、平皮電腦和行動電話) 上處理你的貨品紀錄。
                      </p>
                      <img src="assets/images/platform_pic.png" class="img-responsive center-block" alt="Responsive image">
                    </div>
                </article>
            </div>
            <div class="se-slope-right" id="pricelist">
                <article class="se-content-right">
                    
                    
                </article>
            </div>
        </section>
    </div>
    
    
    <div class="row pickup_banner">
        <div class="col-sm-12"></div>
    </div>
    <div class="row pickup_part">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">葵涌自取點</h4>
                </div>
                <div class="panel-body text-center" style="height: 85px; padding: 20px;">
                    <p>葵涌打磚坪街68號和豐工業中心22樓20A室<br>星期一至六：10:00 – 19:00<br>星期日及公眾假期休息</p>
                </div>
                <div class="panel-footer text-center" style="background-color: #ffffff; border: 0px;">
                    <!-- <span style="color: #fe5722;">電話: 3184 0300</span> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">粉嶺自取點</h4>
                </div>
                <div class="panel-body text-center" style="height: 85px; padding: 20px;">
                    <p>粉嶺聯和墟海聯廣場133號鋪<br>星期一至六：12:00 – 19:00<br>星期日及公眾假期休息</p>
                </div>
                <div class="panel-footer text-center" style="background-color: #ffffff; border: 0px;">
                    <!-- <span style="color: #fe5722;">電話: 9756 6655</span> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="background-color: #ffffff; border-color: #fe5722;">
                    <h4 style="color: #fe5722;">屯門自取點</h4>
                </div>
                <div class="panel-body text-center" style="height: 85px; padding: 20px;">
                    <p>屯門屯利街1號華都商場地下42A號鋪<br>星期一至六：12:00 – 19:00<br>星期日及公眾假期休息</p>
                </div>
                <div class="panel-footer text-center" style="background-color: #ffffff; border: 0px;">
                    <!-- <span style="color: #fe5722;">電話: 3184 0300</span> -->
                </div>
            </div>
        </div>
    </div>



    <div class="row" style="background-color: #23b7e5; padding: 30px;">
      <div class="col-sm-12 text-center" style="color: white; margin-bottom: 20px;">
        <h3>登記成為會員，立即體驗服務</h3>
      </div>
      <div class="col-sm-12 text-center">
        <a href="client/#/signup" class="btn btn-lg btn-default btn-rounded">立即註冊</a>
      </div>
    </div>


    <a href="http://amos.alicdn.com/getcid.aw?spm=a1z10.1.0.0.fjnDlg&amp;v=3&amp;site=cntaobao&amp;groupid=0&amp;s=1&amp;uid=futurefuture328" target="_blank" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。" data-spm-anchor-id="a1z10.1.0.0"><div class="cs_chat_box">
        <i class="fa fa-comment"></i><span>交談</span>
    </div></a>